.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-heading {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}