.nav {
  position: fixed;
  top: 20px;
  right: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 10px;
}

.nav a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.nav a:hover {
  background-color: rgba(0, 162, 255, 0.1);
}

.btn {
  background-color: rgba(0, 162, 255, 0.615);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}